// En abstracts/_utilities.scss
$breakpoints: (
    "": null,
    // Base (sin prefijo)
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$width-steps: (
    0: 0%,
    10: 10%,
    20: 20%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    70: 70%,
    80: 80%,
    90: 90%,
    100: 100%,
);

// Mixin para generar todas las combinaciones
@mixin generate-width-utilities {
    @each $bp-key, $bp-value in $breakpoints {
        @each $key, $value in $width-steps {
            @if $bp-key == "" {
                .w-#{$key} {
                    width: $value !important;
                }
            } @else {
                .w-#{$bp-key}-#{$key} {
                    @media (min-width: $bp-value) {
                        width: $value !important;
                    }
                }
            }
        }
    }
}

// Uso
@include generate-width-utilities;
