$color-primary: rgb(33, 33, 231);
$color-success: rgb(33, 176, 14);
$color-warning: rgb(228, 217, 21);

.btn {
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 3px 2px 6px 0px #000000;
    position: relative;
    transition: all 0.5s ease;


    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    &--primary {
        color: white;
        background-color: $color-primary;
    }

    &--success {
        color: white;
        background-color: $color-success;
    }

    &--warning {
        background-color: $color-warning;
    }


}