$primary: blue;
$secondary: grey;
$success: rgb(8, 174, 8);
$success-soft: rgb(112 211 112);
$warning: yellow;
$danger: red;
$danger-soft: rgb(227, 66, 66);
$info: skyblue;

$color-facebook: #1877F2;
$color-linkedin:#0077B5;
$color-twitter:#1DA1F2;

